name: COBS builds

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linux_build:
    name: Build and test linux
    runs-on: ubuntu-20.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install cmake

    - name: Check out code for the build
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build and test
      run: |
        mkdir build
        cd build
        cmake ..
        make
        make test

  mac_build_gcc:
    name: Build and test Mac OS X with gcc
    runs-on: macos-11
    steps:
      - name: Install dependencies
        run: |
          brew install cmake gcc@11

      - name: Check out code for the build
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build and test
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_C_COMPILER=gcc-11 -DCMAKE_CXX_COMPILER=g++-11 ..
          make
          make test

  mac_build_clang:
    name: Build and test Mac OS X with clang
    runs-on: macos-11
    steps:
      - name: Install dependencies
        run: |
          brew install cmake boost@1.76

      - name: Check out code for the build
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build and test
        run: |         
          # set up some variables so that CMake can find boost
          export BOOST_INCLUDE_DIR="/usr/local/opt/boost@1.76/include"
          export BOOST_LIBRARY_DIR="/usr/local/opt/boost@1.76/lib"
          export CXXFLAGS="-DUSE_BOOST -I${BOOST_INCLUDE_DIR} -L${BOOST_LIBRARY_DIR}"
          export LDFLAGS="-L${BOOST_LIBRARY_DIR} -lboost_filesystem -lboost_system"
          
          mkdir build
          cd build
          cmake -DBOOST=1 -DNOOPENMP=1 -DSKIP_PYTHON=1 ..
          make
          env CTEST_OUTPUT_ON_FAILURE=1 make test
