name: COBS builds

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linux_build:
    name: Build and test linux
    runs-on: ubuntu-20.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install cmake
        cmake --version
        gcc --version
        g++ --version

    - name: Check out code for the build
      uses: actions/checkout@v2

    - name: Build and test
      run: |
        mkdir build
        cd build
        cmake ..
        make
        make test

